.delete {
  width: 78px;
  height: 31px;
  border: 1px solid #f5222d;
  border-radius: 5px;
  color: #f5222d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
}
.edit {
  width: 78px;
  height: 31px;
  border: 1px solid #52c41a;
  border-radius: 5px;
  color: #52c41a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
}
.block {
  display: flex;
  gap: 10px;
}
