li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

.block {
  width: 938px;
  background: #ffffff;
  padding: 30px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  width: 874px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-left: 10px;
}
.inputerror {
  width: 874px;
  height: 40px;
  border: 2px solid #f5222d;
  border-radius: 4px;
  padding-left: 10px;
}
.submit {
  width: 300px;
  height: 40px;
  background-color: #1890ff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.blockerror {
  height: 40px;
  display: flex;
  align-items: center;
}
.texterror {
  width: 874px;
  height: 168px;
  border: 2px solid #f5222d;
  border-radius: 4px;
  padding-left: 10px;
}
.inputtext {
  width: 874px;
  height: 168px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-left: 10px;
}
.error {
  color: #f42c2c;
}
.listitem {
  display: flex;
  gap: 20px;
}
.tag {
  width: 300px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-left: 10px;
}
.tagbtn {
  width: 118px;
  height: 40px;
  border: 1px solid #f5222d;
  border-radius: 5px;
  color: #f5222d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #fff;
  cursor: pointer;
}
.blocktag {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.addtagbtn {
  width: 118px;
  height: 40px;
  border: 1px solid #1890ff;
  border-radius: 5px;
  color: #1890ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #fff;
  cursor: pointer;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
